In [5]:
import pandas as pd
import re

In [6]:
df=pd.read_csv('combined_data.csv')

In [9]:
df.columns

Index(['id', 'title', 'description', 'publishedAt', 'tags', 'categoryId',
       'defaultLanguage', 'defaultAudioLanguage', 'thumbnail_default',
       'thumbnail_high', 'duration', 'viewCount', 'likeCount', 'commentCount',
       'privacyStatus', 'channel_id', 'channel_title', 'channel_description',
       'channel_country', 'channel_thumbnail', 'channel_subscriberCount',
       'channel_videoCount', 'transcript', 'flag'],
      dtype='object')

In [11]:
def clean_text(text):
    if text is None or pd.isna(text):
        return ""
    if not isinstance(text, str):
        text = str(text)
    text = text.lower()
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    text = ' '.join(text.split())
    return text

In [12]:
clean_text("Why studying bees can teach us about human loneliness | Sarah Kocher | TEDxNewEngland")

'why studying bees can teach us about human loneliness sarah kocher tedxnewengland'

In [13]:
df['title_cleaned'] = df['title'].apply(clean_text)
df['description_cleaned'] = df['description'].apply(clean_text)
df['transcript_cleaned'] = df['transcript'].apply(clean_text)

In [16]:
df["title_cleaned"].head()

0    why studying bees can teach us about human lon...
1    how accents make language more beautiful mufti...
2    reality is made of illusionsand we need them s...
3    what if our approach to aging is all wrong hea...
4    naslouchejte svmu hlasu a nechte ho znt katta ...
Name: title_cleaned, dtype: object

In [17]:
df['duration_seconds'] = pd.to_timedelta(df['duration'], errors='coerce').dt.total_seconds()

In [19]:
df[['duration','duration_seconds']].head()

   duration  duration_seconds
0  PT15M27S             927.0
1  PT12M40S             760.0
2  PT17M41S            1061.0
3     PT18M            1080.0
4  PT18M37S            1117.0